<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>

    <%- include('../partials/alert') %>

    <div class="forms mt-5">
        <div class="card">
          <div class="card-body">
            <form method="post">
              <div class="row">
                <div class="col-md-2">
                  <label for="driverImg" class="col-form-label">Şoför Resmi:</label>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="/static/images/<%= driver.driverImg %>" alt="<%= driver.driverImg %>" class="text-center" style="width: 100px; height: 100px;">
                </div>
                <div class="col-md-6">
                  <input type="file" class="form-control" id="driverImg" name="driverImg">
                  <input type="hidden" class="form-control" name="driverImg" value="<%= driver.driverImg %>">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="fullname" class="col-form-label">Ad Soyad:</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control text-center" id="fullname" name="fullname" value="<%= driver.fullname %>" required="required">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="telephone" class="col-form-label">Telefon Numarası:</label>
                </div>
                <div class="col-md-6">
                <input type="tel" class="form-control text-center" id="telephone" name="telephone" required="required" value="<%= driver.telephone %>">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="email" class="col-form-label">E-Posta:</label>
                </div>
                <div class="col-md-6">
                  <input type="email" class="form-control text-center" id="email" name="email" value="<%= driver.email %>"required="required">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="gender" class="col-form-label">Cinsiyet:</label>
                </div>
                <div class="col-md-6">
                  <select class="form-select" name="gender">
                    <option class="text-center" value="<%= driver.gender %>" selected><%= driver.gender==null ? "null": "" %> </option>
                    <option value="true" class="text-center">Erkek</option>
                    <option value="false" class="text-center">Kadın</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <input type="hidden" name="driverId" value="<%= driver.id %>">
                <input type="hidden" name="driverUrl" value="<%= driver.url %>">
                <button type="submit" class="button px-5">Ekle</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    <%- include('../partials/script') %>
</body>
</html>